.cart-container{
    display: flex;
    flex-wrap: nowrap;
}

.shopping-cart{
    padding: 1rem 1.5rem;
}

.cart-summary{
    width: 100%;
    text-align: right;
    padding-right: .5rem;
    margin-top: 2rem;
}

.cart-total{
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
    sans-serif;
    font-size: var(--text-large);
    color: var(--light-yellow);
    margin-right: 3rem;
    display: inline;
}

.cart-submit{
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
      sans-serif;
    font-size: var(--text-regular);
    border: 1px solid var( --dark-lazur);
    border-radius: 15px;
    background-color: var( --lazur);
    transition: all .5s ease;
    color: var(--light-yellow);
    text-align: center;
    padding: 1rem 4rem;
    width: 12rem;
    cursor: pointer;
}

.cart-submit:hover{
    transform: scale(1.01);
    color:antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}