.orders-list{
    height: 54vh;
    width: 96%;
    border: 1px solid var( --dark-lazur);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var( --light-yellow);
    color: var(--dark-lazur);
    font-size: var(--text-large);
    padding: .5rem 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto;
}