.product{
    width: 16rem;
    border: 1px solid var( --dark-lazur);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var( --light-green);
    height: auto;
    padding: 1rem;
}

.product-img{
    width: 100%;
    padding: 1rem 1rem;
}

.product-name{
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
      sans-serif;
    font-size: var(--text-regular);
    color: var(--dark-lazur);
    text-align: center;
    padding: 1rem 1rem;
}

.product-price{
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
      sans-serif;
    font-size: var(--text-regular);
    color: var(--dark-lazur);
    text-align: right;
    padding-right: 1rem;
}
.product-add-button{
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
    sans-serif;
    background-color: var(--lazur);
    font-size: var(--text-regular);
    border: 1px solid var( --dark-lazur);
    border-radius: 5px;
    color: var(--light-yellow);
    transition: all .5s ease;
    padding: .5rem .5rem;
}

.product-add-button:hover{
    transform: scale(1.02);
    color:antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-add-button>span:first-child{
    margin-right: 1rem;
}

