.delivery-form{
    height: 70vh;
    width: 40%;
    border: 1px solid var( --dark-lazur);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var( --light-yellow);
    color: var(--dark-lazur);
    font-size: var(--text-regular);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    margin: .5rem;
}

.form-input{
    width: 100%;
    margin: .5rem auto;
}

.del-form-input{
    display: block;
    margin-right: auto;
}
.form-input > input{
    width: 100%;
    display: block;
    margin: 0rem auto;
    color: var(--dark-lazur);
    font-size: var(--text-regular);
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
      sans-serif;
}
